<%- include("partials/contact-header"); -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Zilla+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <style media="all">
    .contact-failure--page {
      width: 100vw;
      background-color: #1B262C;
    }

    .failure-page {
      width: 90%;
      margin: auto;
      padding: 100px 0;
      text-align: center;
      /* background-color: #000000; */
    }

    .failure-background {
      background-color: #1B262C;
    }

    .text-1 {  /* Targeting small-screen devices & others */
      font-family: 'Zilla Slab', serif;
      font-weight: 700;
      font-size: 3.2rem;  /* Small-screen */
      color: #FFFF00;
    }

    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .text-1 {
        transform: translateX(-3px);
      }
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .text-1 {
        font-size: 4rem;
      }
    }

    .text {
      font-size: 1.1rem;
      color: #FFFFFF;
    }

    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .text {
        transform: translateX(-3px);
      }
    }

    .contact-button {  /* Targeting small-screen devices & others */
      width: 75%;  /* Small-screen */
      padding: 15px 0;
      margin-bottom: 40px;
      display: inline-block;
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .contact-button {
        width: 50%;
      }
    }

    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .contact-button a:nth-child(1) {  /* NOTE: :first-child selector DOESN'T work!! */
        transform: translateX(-3px);
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
      .contact-button a:nth-child(1) {
        transform: translateY(-40px);
      }
    }

    @media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
      .contact-button a:nth-child(1) {
        transform: translateY(-60px);
      }
    }

    .button-colour {
      color: #FFFFFF;
      background-color: #000000;
    }

    .button-colour:hover {
      color: #FFFFFF;
      background-color: #000000;
    }

    .button-size {
      width: 180px;
      height: 60px;
      border-radius: 5px;
    }
  </style>
</head>

<body>

  <section class="contact-failure--page">
    <div class="container-fluid">
      <div class="failure-page">
        <div class="jumbotron jumbotron-fluid text-center failure-background">
          <div class="container">
            <h1 class="text-1">Ooops... there's been an error!</h1>
            <p class="text">Please re-send your message:</p>
          </div>
        </div>
        <div class="contact-button">
          <a href="/contact" class="btn button-colour btn-lg button-size"><span class="font-weight-bold align-middle">Contact</span></a>
        </div>
      </div>
    </div>
  </section>

</body>

</html>

<%- include("partials/footer"); -%>
