<%- include("partials/contact-header"); -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Zilla+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <style media="all">
    .contact-success--page {
      width: 100vw;
      background-color: #1B262C;
    }

    .success-page {
      width: 90%;
      margin: auto;
      padding: 100px 0;
      /* background-color: #000000; */
    }

    .success-background {
      background-color: #1B262C;
    }
  </style>
</head>

<body>
  <section class="contact-success--page">
    <div class="container-fluid">
      <div class="success-page">
        <div class="jumbotron jumbotron-fluid text-center success-background">
          <div class="container">
            <h1 class="text-1">Message successfully sent!</h1>
            <p class="lead">Please go to your user account or back to our home page:</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>

<%- include("partials/footer"); -%>
