<%- include("partials/header"); -%>

<section class="middle-container--1">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-lg-4 col-md-6 align-self-center">
        <div class="card sect_a-card--colour">
          <div class="card-body">
            <div class="sect_a-text-container--1">
              <h1 class="text-1">Come and find your <span class="font-weight-bold font-italic highlight-1">dream</span> apartment here at Reesons TODAY!!</h1>
              <p class="text-2 lead">Great prices & locations...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="sect_a-text-container--2">
              <h4 class="sect_a-text--3">Create your <span class="font-weight-bold font-italic">free</span> account <span class="font-weight-bold text-uppercase">now</span>:</h4>
            </div>
            <form action="/register" method="post">
              <div class="form-group">
                <label for="clientName"><span class="font-weight-bold sect_a-text--colour">Name:</span></label>
                <input type="text" name="name" class="form-control" id="clientName" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="clientEmail"><span class="font-weight-bold sect_a-text--colour">Email:</span></label>
                <input type="email" name="email" class="form-control" id="clientEmail" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="clientPassword"><span class="font-weight-bold sect_a-text--colour">Password:</span></label>
                <input type="password" name="password" class="form-control" id="clientPassword">
              </div>
              <button type="submit" class="btn sect_a-button--colour btn-block">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="middle-container--2">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-md-auto">
        <div class="card sect_b-card--colour">
          <div class="card-body">
            <div class="sect_b-img-container">
              <img src="Images/Img-1.jpg" alt="Photo of a luxury apartment kitchen">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="card sect_b-card--colour">
          <div class="card-body">
            <div class="sect_b-text-container">
              <h3 class="sect_b-text--1">Clean, Elegant Design</h3>
              <p class="sect_b-text--2">All our properties are based on modern architecture principles. Both the interior and exterior are built to be <span class="font-weight-bold font-italic">hard-wearing, resistant and durable.</span> We've
                specifically focused on the weaknesses a lot of modern buildings have - both in the summer and winter seasons. This includes anti-mould/fungal technology, bulletproof thermal insulation and exceptional double glazing on all windows.
                With us you'll have a home that not only looks great, but is of great quality too.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="middle-container--3">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-md-6 align-self-center">
        <div class="card sect_c-card--colour">
          <div class="card-body">
            <div class="sect_c-text-container">
              <h3 class="sect_c-text--1">Student Accommodation</h3>
              <p class="sect_c-text--2">Here are Reesons, we have a special division specifically dedicated to student housing. If you're a student looking for accommodation in town, we can definitely help you out. We offer both shared accommodation
                and single-suite studios to suit your preferrences. Most of our student flats are in well-connected areas with great public transport links and local amenities. On top of that, you'all also get free 24/7 CCTV security & Super-Fast
                Fibre Optic Broadband. what more could a student want??</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card sect_c-card--colour">
          <div class="card-body">
            <div class="sect_c-img-container">
              <img src="Images/Img-2.jpg" alt="A set of block apartments">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="middle-container--4">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-md-auto align-self-center">
        <div class="card sect_d-card--colour">
          <div class="card-body">
            <div class="sect_d-img-container">
              <img src="Images/Img-3.jpg" alt="The interior of a luxury apartment">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card sect_d-card--colour">
          <div class="card-body">
            <div class="sect_d-text-container">
              <h3 class="sect_d-text--1">Luxury Apartments</h3>
              <p class="sect_d-text--2">If you're looking for something <span class="font-weight-bold font-italic">really</span> exotic, then have a look at our Luxury Apartments. These apartments have been designed to give you that high-end, "posh"
                feeling. They're obviously the most expensive in our property range, but as with everything else in life, you get what you pay for - it's no exception here. They all come with king-size beds, marble shower rooms & spacious kitchen
                sections. Customer satisfaction to date is 100%!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="middle-container--5">
  <div class="container-fluid">
    <div class="sect_e-text-container">
      <h3 class="sect_e-text--1">Come and check out our property price list!</h3>
      <p class="sect_e-text--2">Affordable housing for everyone:</p>
    </div>
    <div class="sect_e-price-button">
      <a href="/pricing" class="btn sect_e-button-colour btn-lg"><span class="font-weight-bold">Pricing Plans</span></a>
    </div>
  </div>
</section>
<section class="middle-container--6">
  <div class="container-fluid">
    <div class="sect_f-text-container--1">
      <h3 class="sect_f-text--1">Why live with us??</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <div class="card sect_f-card--colour">
          <div class="card-body">
            <div class="sect_f-text-img--container">
              <span class="sect_f-img-container">
                <i class="fas fa-check"></i>
              </span>
              <div class="sect_f-text-container--2">
                <h3 class="sect_f-text--2">Flexible Payment</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card sect_f-card--colour">
          <div class="card-body">
            <div class="sect_f-text-img--container">
              <span class="sect_f-img-container">
                <i class="fas fa-check"></i>
              </span>
              <div class="sect_f-text-container--3">
                <h3 class="sect_f-text--3">Great Locations</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card sect_f-card--colour">
          <div class="card-body">
            <div class="sect_f-text-img--container">
              <span class="sect_f-img-container">
                <i class="fas fa-check"></i>
              </span>
              <div class="sect_f-text-container--4">
                <h3 class="sect_f-text--4">Bills Included</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-auto">
        <div class="card sect_f-card--colour">
          <div class="card-body">
            <div class="sect_f-text-img--container">
              <span class="sect_f-img-container">
                <i class="fas fa-check"></i>
              </span>
              <div class="sect_f-text-container--5">
                <h3 class="sect_f-text--5">Free Wi-Fi</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card sect_f-card--colour">
          <div class="card-body">
            <div class="sect_f-text-img--container">
              <span class="sect_f-img-container">
                <i class="fas fa-check"></i>
              </span>
              <div class="sect_f-text-container--6">
                <h3 class="sect_f-text--6">24-Hour Support Team</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card sect_f-card--colour">
          <div class="card-body">
            <div class="sect_f-text-img--container">
              <span class="sect_f-img-container">
                <i class="fas fa-check"></i>
              </span>
              <div class="sect_f-text-container--7">
                <h3 class="sect_f-text--7">Student Discounts</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="middle-container--7">
  <div class="container-fluid">
    <div class="sect_g-text-container--1">
      <h3 class="sect_g-text--1">Only 4 steps to finding your <span class="font-weight-bold font-italic sect_g-highlight">perfect</span> apartment!</h3>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-4">
        <div class="card sect_g-card-colour--1">
          <div class="card-body">
            <div class="sect_g-number-container--1">
              1
            </div>
            <div class="sect_g-text-container--2">
              <h3 class="sect_g-text--2">Book Appointment</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card sect_g-card-colour--2">
          <div class="card-body">
            <div class="sect_g-number-container--2">
              2
            </div>
            <div class="sect_g-text-container--3">
              <h3 class="sect_g-text--3">View Properties</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card sect_g-card-colour--3">
          <div class="card-body">
            <div class="sect_g-number-container--3">
              3
            </div>
            <div class="sect_g-text-container--4">
              <h3 class="sect_g-text--4">Sign Contract</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card sect_g-card-colour--4">
          <div class="card-body">
            <div class="sect_g-number-container--4">
              4
            </div>
            <div class="sect_g-text-container--5">
              <h3 class="sect_g-text--5">Collect Keys</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="middle-container--8">
  <div class="container-fluid overlay">
    <div class="sect_h-text-container--1">
      <h3 class="sect_c-text--1">Subscribe to our <span class="font-weight-bold font-italic sect_h-highlight--1">free</span> newsletter to get all the latest updates!</h3>
    </div>
    <div class="newsletter-container">
      <form class="sect_c-contact--form" action="/newsletter" method="post">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="form-body d-flex justify-content-center">
              <div class="form-input">
                <input type="email" class="form-control" size="40" autocomplete="off" placeholder="your email...">
              </div>
              <div class="form-button">
                <button type="button" class="btn sect_h-button--colour">Go!</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="sect_h-text-container--2">
        <p class="sect_c-text--2">Your email will <span class="font-weight-bold font-italic sect_h-highlight--2">never</span> be shared with anyone else.</p>
      </div>
    </div>
  </div>
</section>
<section class="middle-container--9">
  <div class="container-fluid">
    <div class="sect_i-text-container">
      <h3 class="sect_i-text--1">Get in touch NOW to book a viewing!</h3>
    </div>
    <div class="phone-number-container">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-auto">
            <div class="card sect_i-card--colour">
              <div class="card-body">
                <div class="sect_i-text-img--container">
                  <span class="sect_i-img--container">
                    <i class="fas fa-phone"></i>
                  </span>
                  <div class="sect_i-text--container">
                    <h3 class="sect_i-text--2">(+44) 7539 46241 8153</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="middle-container--10">
  <div class="container-fluid">
    <div class="carousel-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="3000">
            <div class="sect_j-text-img--container">
              <span class="sect_j-img-container">
                <i class="fas fa-quote-right"></i>
              </span>
              <div class="sect_j-text-container mx-auto">
                <h3 class="sect_j-text">Reesons honestly have some of the best prices here in town... highly recommended!</h3>
                <p class="font-weight-bold font-italic sect_j-subtext">- David</p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="2000">
            <div class="sect_j-text-img--container">
              <span class="sect_j-img-container">
                <i class="fas fa-quote-right"></i>
              </span>
              <div class="sect_j-text-container mx-auto">
                <h3 class="sect_j-text">I once lost my flat keys and their 24-Hour support Team helped me within <span class="font-weight-bold font-italic">2 hours</span>.Couldn't believe it!!</h3>
                <p class="font-weight-bold font-italic sect_j-subtext">- Kelly</p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="2000">
            <div class="sect_j-text-img--container">
              <span class="sect_j-img-container">
                <i class="fas fa-quote-right"></i>
              </span>
              <div class="sect_j-text-container mx-auto">
                <h3 class="sect_j-text">I came from Australia 3 months ago, and Reesons made it <span class="font-weight-bold font-italic">really</span> easy for me to find a nice apartment.</h3>
                <p class="font-weight-bold font-italic sect_j-subtext">- Chris</p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="2000">
            <div class="sect_j-text-img--container">
              <span class="sect_j-img-container">
                <i class="fas fa-quote-right"></i>
              </span>
              <div class="sect_j-text-container mx-auto">
                <h3 class="sect_j-text">Student accommodation here is SO nice... I'll be staying here until I graduate!</h3>
                <p class="font-weight-bold font-italic sect_j-subtext">- Louise</p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="fas fa-arrow-left carousel-arrow" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="fas fa-arrow-right carousel-arrow" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
